<style>
  /* Make the image fully responsive */
  .carousel-inner img {
      width: 100%;
      height: 100%;
       transition-duration: 1.5s, 1.5s;
  }
  </style>

<div id="demo" class="carousel slide" data-ride="carousel" data-interval="2000">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.exitplanning.com/sites/default/files/field/image/shutterstock_112806718_0.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://www.bls.gov/careeroutlook/2018/images/blacks-in-the-labor-force_cover.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://www.thebalancecareers.com/thmb/BDC0rKi0Ta2Yd5AX9DPxYB1hf0s=/3867x2175/smart/filters:no_upscale()/business-people-talking-in-meeting-494323029-56fc40753df78c7d9edd1fec.jpg" alt="New York" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="https://i.pinimg.com/originals/a2/48/73/a24873fb168ee5b4694b09e435451828.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>